<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
		<section name="ApprovalRings" type="System.Configuration.DictionarySectionHandler" />
		<section name="Groups" type="System.Configuration.DictionarySectionHandler" />
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WSUSApprove.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WSUSApprove.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <WSUSApprove.Properties.Settings>
            <setting name="PreviousScan" serializeAs="String">
                <value />
            </setting>
        </WSUSApprove.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <WSUSApprove.Properties.Settings>
            <setting name="WSUSServer" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="WSUSPort" serializeAs="String">
                <value>8530</value>
            </setting>
            <setting name="WSUSUseSSL" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProductFamilies" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>All Synchronized Products</string>
                        <string>Windows</string>
                        <string>Forefront</string>
                        <string>Office</string>
                        <string>SQL Server</string>
                        <string>Exchange Server</string>
                        <string>Silverlight</string>
                        <string>Developer Tools, Runtimes, and Redistributables</string>
                    </ArrayOfString>
                </value>
            </setting>
        </WSUSApprove.Properties.Settings>
    </applicationSettings>
	<ApprovalRings>
		<add key="0" value="0"/>
		<add key="1" value="7"/>
		<add key="2" value="14"/>
		<add key="3" value="21"/>
	</ApprovalRings>
	<Groups>
		<add key="All Computers" value="-1"/>
		<add key="Ring 0 - Desktops" value="0"/>
		<add key="Ring 1 - Servers - Non-Production" value="1"/>
		<add key="Ring 2 - Servers - Production" value="2"/>
		<add key="Ring 2 - Servers - Production - Delayed" value="3"/>
	</Groups>
</configuration>